@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
.field-lg .input-group-text{
  padding-inline: 18px;
  font-size: 18px;
}

.field-lg .form-control{
  padding: 18px 14px;
  font-size: 18px;
}

.btn-lg-soft{
  padding: 16px 18px;
  font-size: 18px;
}
.login-wrap{
  padding-top: 90px;   
}
.admin-auth-bg input.form-control{
  direction: ltr;
  text-align: left;
}

